  @mixin student-name {
  float: left;
  position: relative;
  text-align: center;
  margin-bottom: -1em;
  width: 100%;
  z-index: 10;
  padding: 0.6em 0 0.4em;
  background-color: lighten($grey, 25%);
  color: $white;
  letter-spacing: 2px;
  font-size: 12px;
  margin-top: -2.25em;
  font-family: "Effra", serif;
  @media only screen and (min-width: 60em) {
    margin-top: -2.45em;
  }
}
